<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro de veículo - Página 2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link th:href="@{/css/veiculoRegistroPg2.css}" rel="stylesheet">
</head>
<body>
    <ul class="nav nav-tabs bg-dark">
        <li class="nav-item dropdown bg">
            <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Menu</a>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" th:href="@{/pagina1}">Voltar</a></li>
                <li><a class="dropdown-item" href="#" id="btn-limpar">Limpar campos</a></li>
            </ul>
        </li>
    </ul>
    
    <header><h2>Registro de veículos</h2></header>
    
    <div class="container my-5">
        <div class="align-items-center">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <section>
                        <form th:action="@{/veiculos/registro/salvar}" th:object="${veiculo}" method="post" id="formVeiculo">
                            <input type="hidden" th:field="*{MarcaVeiculo}"/>
                            <input type="hidden" th:field="*{ModeloVeiculo}"/>
                            <input type="hidden" th:field="*{CorVeiculo}"/>
                            <input type="hidden" th:field="*{CambioVeiculo}"/>
                            <input type="hidden" th:field="*{AnoVeiculo}"/>
                            <input type="hidden" th:field="*{Acessorios}"/>
                            <input type="hidden" th:field="*{Quilometragem}"/>
                            
                            <div class="mb-3">
                                <label for="condicao" class="form-label">Condição do veículo:</label>
                                <input type="text" class="form-control" th:field="*{CondicaoVeiculo}" id="condicao"/>
                                <div class="text-danger" th:if="${#fields.hasErrors('CondicaoVeiculo')}" th:errors="*{CondicaoVeiculo}"></div>
                            </div>

                            <div class="mb-3">
                                <label for="manutencao" class="form-label">Estado de manutenção:</label>
                                <input type="text" class="form-control" th:field="*{StatusManutencao}" id="manutencao"/>
                                <div class="text-danger" th:if="${#fields.hasErrors('StatusManutencao')}" th:errors="*{StatusManutencao}"></div>
                            </div>

                            <div class="mb-3">
                                <label for="precoVeiculo" class="form-label">Preço do veículo:</label>
                                <input type="number" step="0.01" class="form-control" th:field="*{PrecoVeiculo}" id="precoveiculo"/>
                                <div class="text-danger" th:if="${#fields.hasErrors('PrecoVeiculo')}" th:errors="*{PrecoVeiculo}"></div>
                            </div>

                            <div class="mb-3">
                                <label for="garantia" class="form-label">Garantia (Fábrica ou Loja):</label>
                                <input type="text" class="form-control" th:field="*{Garantia}" id="garantia"/>
                                <div class="text-danger" th:if="${#fields.hasErrors('Garantia')}" th:errors="*{Garantia}"></div>
                            </div>

                            <div class="mb-3">
                                <label for="funcionario" class="form-label">Registrado por:</label>
                                <select class="form-select" name="funcionarioId" id="funcionario">
                                    <option value="">Selecione um funcionário</option>
                                    <option th:each="func : ${funcionarios}" 
                                            th:value="${func.idFuncionario}" 
                                            th:text="${func.NomeFuncionario}">
                                    </option>
                                </select>
                                <div class="text-danger" th:if="${erroFuncionario}" th:text="${erroFuncionario}"></div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-customVeiculoPg2 mb-3">Registrar</button>
                            </div>
                            
                            <div th:if="${mensagemSucesso}" class="alert alert-success text-center" role="alert">
                                    <span th:text="${mensagemSucesso}"></span>
                            </div>
                                
                            
                            <nav class="text-center">
                                <a th:href="@{/veiculos/lista}" class="btn btn-outline-primary">Tabela de veículos</a>
                            </nav>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('formVeiculo');
            document.getElementById('btn-limpar').addEventListener('click', function(e) {
                e.preventDefault();
                form.reset();
            });
        });
    </script>
</body>
</html>