<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
              rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link th:href="@{/css/tabelaVenda.css}" rel="stylesheet">
        <title>Tabela de vendas</title>
    </head>
    <body>
        <ul class="nav nav-tabs bg-dark">
            <li class="nav-item dropdown bg">
                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Menu</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" th:href="@{/home}">Voltar</a></li>
                </ul>
            </li>
        </ul>
        <h2>Vendas cadastradas</h2>
        <div class="table-container">
            <table class="table table-bordered table-light">
                <tr class="tabela">
                    <th>Veículo</th>
                    <th>Cliente</th>
                    <th>Vendedor</th>
                    <th>Venda feita em</th>
                </tr>
                <tr th:each="venda : ${vendas}">
                    <td th:text="${venda.veiculosVendidos[0].MarcaVeiculo} + ' - ' + ${venda.veiculosVendidos[0].ModeloVeiculo}"></td>
                    <td th:text="${venda.cliente.NomeCliente}"></td>
                    <td th:text="${venda.funcionario.NomeFuncionario}"></td>
                    <td th:text="${#temporals.format(venda.dataRegistro, 'dd/MM/yyyy HH:mm')}"></td>
                </tr>
            </table>
        </div>
        <div class="registrovenda">
             <a th:href="@{/vendas/registro}" class="btn btn-primary btn-lg">Registro funcionário</a>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
             integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>
